.App {
  text-align: center;
}

.pub {
  height: 100vmin;
  pointer-events: none;
}
.src {
  height: 100vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .pub {
    animation: App-logo-spin infinite 20s linear;
  }
  .src {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.title{
  font-weight:800;
  font-size:80px;
  font-family: sans-serif;


}
.red{
  color:red;

}


